@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        gap: 40px;
    }
    .nav-links {
        gap: 60px;
    }
    .team-section {
        flex-direction: column-reverse;
        gap: 60px;
    }
    .team-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .team-content {
        text-align: center;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team-section {
    flex-direction: column;
    }
    .team-content {
        text-align: center;
    }
    .navbar {
        padding: 40px 30px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 50px;
    }
}