@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        gap: 40px;
    }
    .nav-links {
        gap: 60px;
    }
    .team-section {
        flex-direction: column-reverse;
        gap: 60px;
    }
    .team-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .team-content {
        text-align: center;
    }
    .fact-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 50px;
    }
    .fact-mini-container {
    text-align: center;
    }
    .sponsor-image {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 20px;
    justify-items: center;
    }
    .sponsor-image img {
        width: 50%;
    }
    .feature-section {
    flex-direction: column;
    }
    .position {
        margin-left: 80px;
    }
    .feature-content {
        padding:0 10px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team-section {
    flex-direction: column;
    }
    .team-content {
        text-align: center;
    }
    .navbar {
        padding: 40px 30px;
    }
    .fact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 30px;
    }
    .fact-mini-container {
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
    }
    .sponsor-image {
        grid-template-columns: repeat(3, 1fr);
        gap: 70px;
        padding: 20px;
    }
    .feature-section {
    flex-direction: column;
    }
    .position {
        margin-left: 350px;
    }
    .feature-content {
        padding:0 30px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 50px;
    }
    .position {
        margin-left: 220px;
    }
}