* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared items */
.d-flex {
    display: flex;
}
.bg {
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-1 {
    color: #131313;
}
.dark-2 {
    color: #424242;
}
.dark-3 {
    color: #727272;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.container-2 {
    max-width: 1300px;
    margin: 0 auto;
}
.btn-primary {
    background-color: #FF900E;
    border: none;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
}
/* Header section Started */
/* Navbar Section Started */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.nav-logo {
    font-size: 2.8rem;
    font-weight: 800;
}
.nav-links {
    gap: 50px;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
}
.nav-link:hover {
    color: #FF900E;
    transition: 0.3s;
}
/* Navbar Section Ended */
/* Banner Section Started */
.banner-section {
    margin-top: 90px;
}
.banner-content{
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-heading {
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 30px;
}
.banner-description {
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 26px;
}
.banner-img {
    width: 100%;
}
/* Banner Section Ended */
/* Header section Ended */
/* Main Section */
/* Team Section Started */
.team-section {
    margin-top: 100px;
    align-items: center ;
    gap: 50px;
}
.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-heading {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 30px;
}
.team-span-1 {
    font-weight: 500;
}
.team-span-2 {
    color: #FF900E;
}
.team-description {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 30px;
}
/* Team Section Ended */
/* Feature section Started */
.feature-section {
    margin-top: 140px;
    gap: 130px;
}
.feature-heading {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 30px;
    border-left:5px solid #FF900E;
    padding-left: 20px;
}
.feature-description {
    font-size: 1rem;
    line-height: 26px;
}
.feature-card {
    padding: 30px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    border-radius: 8px;
}
.feature-card-heading {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.card-1 {
    margin-top: 40px;
}
.feature-img img {
    width: 100%;
}
.big-text {
    font-size: 4.06rem;
}
.small-text {
    font-size: 1.56rem;
    font-weight: 500;
}
.position {
    padding: 45px 42px !important;
    margin-top: -100px;
    margin-left: -90px;
}
/* Feature section Ended */
/* Fact Section Started */
.fact-section {
    margin-top: 130px;
}
.fact-mini-container {
    max-width: 540px;
    padding-left: 10px;
}
.fact-heading {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.fact-description {
    font-size: 1rem;
    line-height: 26px;
}
.fact-info {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    padding: 0 50px;
}
.fact {
    border: 1px solid #FF900E;
    padding: 40px 30px;
    text-align: center;
    border-radius: 8px;
}
.fact img {
    margin-bottom: 10px;
}
.fact-box-heading {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.fact-box-description {
    font-size: 1.25rem;
    margin-bottom: 10px;
}
/* Tact Section Ended */
/* Sponsor Section Started */
.sponsor-section {
    margin-top: 130px;
}
.sponsor-heading {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.sponsor-description {
    font-size: 1rem;
    line-height: 26px;
}
.sponsor-info {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
.sponsor-image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px;
    margin-top: 60px;
    padding: 0 10px;
}
.sponsor-image img {
    filter: grayscale(100%);
    width: 100%;
}
/* Sponsor Section Ended */
/* Main Section Ended */
/* Footer Section Started */
.footer-section {
    margin-top: 130px;
    border-radius: 8px;
}
.footer-description {
    text-align: center;
    font-size: 1.25rem;
    padding: 40px 0;
}
/* Footer Section Ended */