* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared items */
.d-flex {
    display: flex;
}
.bg {
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-2 {
    color: #424242;
}
.dark-3 {
    color: #727272;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.container-2 {
    max-width: 1300px;
    margin: 0 auto;
}
.btn-primary {
    background-color: #FF900E;
    border: none;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
}
/* Header section Started */
/* Navbar Section Started */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.nav-logo {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.nav-links {
    gap: 50px;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
}
.nav-link:hover {
    color: #FF900E;
    transition: 0.3s;
}
/* Navbar Section Ended */
/* Banner Section Started */
.banner-section {
    margin-top: 90px;
}
.banner-content{
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-heading {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 30px;
}
.banner-description {
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 26px;
}
.banner-img {
    width: 100%;
}
/* Banner Section Ended */
/* Header section Ended */
/* Main Section */
/* Team Section Started */
.team-section {
    margin-top: 100px;
    align-items: center ;
    gap: 50px;
}
.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-heading {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 30px;
}
.team-span-1 {
    font-weight: 500;
}
.team-span-2 {
    color: #FF900E;
}
.team-description {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 30px;
}
/* Team Section Ended */